*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.high{
    border-left:4px solid red;
}
.medium{
    border-left:4px solid yellowgreen;
}
.low{
    border-left:4px solid blueviolet;
}

.to-do-item{
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 16px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.todo-delete{
    position: absolute;
    outline: none;
    right: 0;
    bottom: 0;
    cursor: pointer;
}